{# Affiche l'article sélectionné dans la page list_articles #}

{# on étend le template de base de la page home #}
{% extends "home.html.twig" %}

    {# block 'main' (child template) de la page article #}
    {% block main %}
        <main class="contenu">
            <article class="article">
                <h2 class="titreArt">{{ article.title }}</h2>
                <div class="image imageArt"><img class="resp" src="{{ article.image }}" alt=""></div>
                <p>{{ article.content }}</p>
            </article>
        </main>
    {% endblock %}

